<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" > 
<!-- 타임리프사용해서 동적으로 값을 추가하거나 처리 한마디로 서버에 값을 불러오거나 매개변수 값 같은걸 추가하거나 처리가능-->
<head>
<meta charset="UTF-8">
<title>메인</title>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<script src="/js/common.js"></script>
</head>
<body>

    <header th:replace="common/fragments/header :: HeaderFragment">
		<p>헤더영역</p>
	</header>
	
	<th:block th:each="num: ${#numbers.sequence(0,9)}">
		<p th:text="${num}"></p>
	</th:block>
    
    <p th:text="${#strings.substring('홍길동',1,2)} + ${#strings.repeat('*',2)}"></p>
    
    <p th:text="${#strings.repeat('*',3)}"></p>
    
    <p th:text="${#strings.length('010-0000-0000')}"></p>
    
    
</body>
</html>





