<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 타임리프사용해서 동적으로 값을 추가하거나 처리 한마디로 서버에 값을 불러오거나 매개변수 값 같은걸 추가하거나 처리가능-->

<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/notice.css">
</head>

<body>

	<header th:replace="common/fragments/header :: HeaderFragment">
		<p>헤더영역</p>
	</header>

	<div class="total_Window">
		<h3>게시판</h3>

		<!-- 검색 bar -->
		<div class="searchBar">
			<div>
				<select id="searchField" name="field">
					<option value="전체" selected th:selected="${field == '전체'}">전체</option>
					<option value="공지" th:selected="${field == '공지'}">공지사항</option>
					<option value="잡담" th:selected="${field == '잡담'}">잡담</option>
					<option value="문의" th:selected="${field == '문의'}">문의</option>
				</select>
			</div>
			<div>
				<input id="searchKeyword" type="text" placeholder="제목을 입력해주세요." name="keywored" th:value="${keyword}">
			</div>
			<div>
				<a href="javascript:void(0);" onclick="searchBtn()">검색</a>
			</div>
		</div>

		<!-- 게시글 table -->
		<div class="content_Table">

			<div class="table_Header">
				<span class="total" th:text="'Total '+ ${totalList}+ '건'"></span>
				<div class="writeBtn">
					<th:block th:if="${role != 'outSide'}">
						<a href="/noticeWrite?saveMode=INSERT">글 쓰기</a>
					</th:block>
					<th:block th:if="${role == 'outSide'}">
						<a href="/login">글 쓰기</a>
					</th:block>
				</div>
			</div>

			<table class="main_Table">
				<thead>
					<tr>
						<th style="display: none;">글 번호</th>
						<th>글 타입</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성시간</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list, listStat: ${list}">
						<td th:text="${list.idx}" style="display: none;"></td>
						<td th:text="${list.type}"></td>
						<td><a th:href="@{/notice/{idx}(idx= ${list.idx})}" th:text="${list.title}"></a></td>
						<th:block th:if="${role != 'admin' && list.writerid != userId}">
							<td
								th:text="${#strings.substring(list.writer, 0, 1)} + ${#strings.repeat('*', #strings.length(list.writer) - 1)}">
							</td>
						</th:block>
						<th:block th:if="${role == 'admin' || list.writerid == userId}">
							<td th:text="${list.writer}"></td>
						</th:block>
						<td th:text="${list.date}"></td>
						<td th:text="${list.viewcount}"></td>
					</tr>
				</tbody>
			</table>

			<!--페이징처리-->
			<div class="paging_Area">
				
				<!-- <<처음 영역 -->
				<th:block th:if="${field != null && keyword != null}">
					<a th:href="@{/notice(field = ${field},keyword = ${keyword}, page = 1)}"><< 처음</a>
				</th:block>
				<th:block th:if="${field != null && keyword == null}">
					<a th:href="@{/notice(field = ${field}, page = 1)}"><< 처음</a>
				</th:block>
				<th:block th:if="${field == null && keyword == null}">
					<a th:href="@{/notice(field = '전체', page = 1)}"><< 처음</a>
				</th:block>

				&nbsp;
				&nbsp;
				
				<!-- <이전 영역 -->
				<th:block th:if="${nowPage > 10}">
					<a th:if="${field != null && keyword != null}" th:href="@{/notice(field = ${field},keyword = ${keyword}, page = ${startPage - 10})}">< 이전</a>
					<a th:if="${field != null && keyword == null}" th:href="@{/notice(field = ${field}, page = ${startPage - 10})}">< 이전</a>
					<a th:if="${field == null && keyword == null}" th:href="@{/notice(field = '전체', page = ${startPage - 10})}">< 이전</a>
				</th:block>

				&nbsp;
				&nbsp;
				
				<!-- 메인 페이징 번호 영역 -->
				<th:block th:each="num : ${#numbers.sequence(startPage, endPage)}">
					<a th:if="${field != null && keyword != null}" th:href="@{/notice(field = ${field}, keyword = ${keyword}, page = ${num})}" th:text="${num}" th:style="${nowPage == num?'color: red':'color:'}"></a>
					<a th:if="${field != null && keyword == null}" th:href="@{/notice(field = ${field}, page = ${num})}" th:text="${num}" th:style="${nowPage == num?'color: red':'color:'}"></a>
					<a th:if="${field == null && keyword == null}" th:href="@{/notice(field = '전체', page = ${num})}" th:text="${num}" th:style="${nowPage == num?'color: red':'color:'}"></a>
				</th:block>

				&nbsp;
				
				<!-- 다음> 영역 -->
				<th:block th:if="${lastPage >= endPage + 1}">
					<a th:if="${field != null && keyword != null}" th:href="@{/notice(field = ${field}, keyword = ${keyword}, page = ${endPage+1})}"> 다음 ></a>
					<a th:if="${field != null && keyword == null}" th:href="@{/notice(field = ${field}, page = ${endPage+1})}"> 다음 ></a>
					<a th:if="${field == null && keyword == null}" th:href="@{/notice(field = '전체', page = ${endPage+1})}"> 다음 ></a>
				</th:block>

				&nbsp;
				
				<!-- 끝>> 영역 -->
				<th:block th:if="${field != null && keyword != null}">
					<a th:href="@{/notice(field = ${field},keyword = ${keyword}, page = ${lastPage})}">끝 >></a>
				</th:block>
				<th:block th:if="${field != null && keyword == null}">
					<a th:href="@{/notice(field = ${field}, page = ${lastPage})}">끝 >></a>
				</th:block>
				<th:block th:if="${field == null && keyword == null}">
					<a th:href="@{/notice(field = '전체', page = ${lastPage})}">끝 >></a>
				</th:block>
				

			</div>
		</div>
	</div>

	<br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br>
	<br> <br> <br> <br> <br> <br>

	<script src="/js/common.js"></script>
	<script src="/js/notice.js"></script>

</body>

</html>