<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위는 그냥 복붙 -->

<!-- <mapper namespace="매퍼 또는 DAO클래스명"> <select id="명령어 클래스명" resultType="반환타입" 
	예)"UserDTO" parameterType="매개변수에 들어가는 타입" 예)"String"> 쿼리문 예)SELET userid 
	FROM user WHERE userid = #{}; #{}은 매개변수 넣기위한 문법이다 </select> </mapper> -->

<!-- resultType 및 parameterType 관련 꿀팁 만약 여러개 조인 한 값을 result하고 싶으면 형식이 정해져 
	있는 예)잘 변하지 않는 규격화된 게시판 같은거는 DTO를 아예 만들어서 result 시키고 그게 아닌면 Map을 통해서 사용하기 
	파라미터는 매개변수값이 여러 타입이면 Map 활용 -->

<mapper namespace="com.example.demo.mapper.MemberMapper">

	<!-- 회원가입하기 -->
	<insert id="memberDo"
		parameterType="com.example.demo.dto.UserDTO">
		INSERT INTO
		user(
		id,
		pw,
		name,
		phone,
		email,
		role,
		date
		)
		VALUES(
		#{id},
		#{pw},
		#{name},
		#{phone},
		#{email},
		#{role},
		#{date}
		);
	</insert>



	<!-- 아이디 중복확인 -->
	<select id="checkId" resultType="String">
		SELECT id FROM user WHERE id = #{checkId};
	</select>


</mapper>
