* {
	font-family: 'BMJUA';
}

/* 글쓰기 전체 div */
.total_Window {
	width: 100%;
	height: 600px;
	border: 0px solid black;
	margin-top: 7%;
}

/* 글쓰기 글자 h3 */
.total_Window>h3 {
	font-size: 3rem;
}

/* 글쓰기 form 영역 */
.form_Window {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	font-size: 2.8rem;
	line-height: 100%;
	margin-top: 3%;
}

.form_Window {
	width: 100%;
	height: 100%;
}

.form_Window form {
	width: 100%;
	height: 100%;
}

.form_Window form select {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 2rem;
	border: 0px;
}

.form_Window form input {
	width: 100%;
	height: 100%;
	font-size: 2rem;
	border: 0px;
	text-align: center;
}

.form_Window form tr {
	border: 1px solid black;
}

.form_Window table {
	width: 100%;
	height: 100%;
	border: 0px solid yellow;
}



.form_Window table tr:first-child {
	height: 20%;
}

.form_Window table tr:nth-child(2) {
	height: 20%;
}

.form_Window table th:first-child {
	width: 15%;
}

.form_Window table tr td {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	line-height: 100%;
}


.form_Window .btns {
	border: 0px solid black;
    width: 13%;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-top: 2%;
}

.form_Window .btns button {
	border: 0px solid black;
	padding: 3%;
	font-size: 2rem;
}
.form_Window .btns button:hover {
	cursor: pointer;
	background-color: lightskyblue;
}

/* 댓글 영역 comment_Area */
.comment_Area {
	margin-top: 12%;
	height: 100%;
}
.comment_Area > h3{
	font-size: 2.5rem;
}

/* 댓글 작성 영역 */
.comment_Area .comment_From {
	width: 100%;
	height: 80px;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	background: #f2edff;

}
.comment_Area .comment_From > input {
	width: 1050px;
	height: 60px;
	line-height: 100%;
	text-indent: 1%;
	font-size: 2rem;
	border-radius: 10px;
}
.comment_Area .comment_From > input:hover{
	background: #d1d1d1;
}

.comment_Area .comment_From > button {
	font-size: 1.5rem;
	border: 2px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 17.6px;
	padding-bottom: 17.6px;
	border-radius: 8px;
	margin-left: 1.2%;
	background: white;
}

.comment_Area .comment_From > button:hover {
	cursor: pointer;
	background: #d1d1d1;
}

/* 댓글 내용 영역 */
.comment_View {
	width: 100%;
	height: 100%;
	border: 0px solid black;
	margin-top: 2%;
	border-radius: 8px;
}
.comment_outLine {
	
	border-bottom: 2px solid black;
	border-radius: 0px;
	
}
.comment_outLine:last-child {
	
	border-bottom: 2px solid black;
	border-radius: 0px;
	
}
.comment_id {
	font-size: 1.1rem;
	margin-top: 1%;
}
.comment_content {
	font-size: 2rem;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	display: flex;
    justify-content: space-between;
	
	
}
.comment_content_btn{
	display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
    width: 15%;
    
 
}
.comment_content_btn > div > i{
	position: relative;
    top: 11px;
}

.comment_content_btn > div > i:hover{
	cursor: pointer;
}

.comment_content_btn > a{
	font-size: 1rem;
}

.comment_content_btn .like{
	font-size: 1rem;
	margin-right: 15%;
}

.comment_content_btn > a:hover{
	border-bottom: 3px solid blue;
}

   
